@model Person

@if (Model == null)
{
        <div class="card p-4">
            <div class="row">
                <div class="col fw-bold">@ViewBag.ERROR</div>
            </div>
        </div>
}
else
{
        <div class="card p-4">
            <div class="col">@Model.Id</div>
            <div class="col">@Model.Name</div>
            <div class="col">@Model.City</div>
            <div class="col">@Model.PhoneNumber</div>

        </div>
}