@model Person
<div class="row">
    <div class="col p-1">@Model.Id</div>
    <div class="col p-1">@Model.Name</div>
    <div class="col p-1">@Model.PhoneNumber</div>
    <div class="col p-1">@Model.City.CityName</div>
    <div class="col"><a asp-action="DeletePerson" asp-route-id="@Model.Id">Delete</a></div>
</div>
